*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size:20px;
}

.container{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

.txt-center{
    text-align: center;
}
/* to-do-form */
.form-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

/* to-do-list */

.to-do-container{
    width:80%;
    margin:  1em auto 0 auto;
}

.to-do-container ul{
    width: 100%;
    list-style: none;
}

.to-do-container li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    /* debug    */
    border: 1px solid black;
}

/* button */
.add-btn{
    margin-top: 1em;
    border: none;
    border-radius: 1.4rem;
    padding: .7rem;
    background-color: burlywood;
    cursor: pointer;
}

.add-btn:hover{
    opacity: 90%;
}

.add-btn:active{
    color: burlywood;
    background-color: black;
}

.remove-task{
    cursor: pointer;
}
/* evente classes */

.underlined{
    text-decoration: line-through;
}