<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>To Do List</title>
</head>
<body>
    <div id="app">
        <div class="container txt-center">
            <h1 class="txt-center">To Do List</h1>
            <!-- to do form -->
            <div class="form-container">
                <label for="to-do"></label>
                <input type="text" id="to-do" placeholder="Inserisci cose da fare" 
                v-model="userChoice">
                <label for="is-do"></label>
                <input type="text" id="is-do" placeholder="Inserisci cose da fare">
                <button class="add-btn" @click="pushUserChoice">Inserisci</button>
            </div>

            <!-- todo list -->
            <div class="to-do-container ">
                <ul>
                    <li v-for="(listItem, listIndex) in toDoList"><span>afsdgsdf</span><span>&#10060;</span></li>
                </ul>
            </div>
        </div>



    </div>


    <script src="js/script.js"></script>
</body>
</html>