<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>To Do List</title>
</head>
<body>
    <div id="app">
        <div class="container txt-center">
            <h1 class="txt-center">To Do List</h1>
            <!-- to do form -->
            <div class="form-container">
                <label for="to-do"></label>
                <input type="text" id="to-do" placeholder="Inserisci cose da fare" 
                v-model.trim="userChoice.toDo" @keyup.enter="pushUserChoice">
                <!-- <label for="is-do"></label>
                <input type="text" id="is-do" placeholder="Inserisci cose da fare"> -->
            </div>
            
            <button class="add-btn" @click="pushUserChoice">Inserisci</button>
            <!-- todo list -->
            <div class="to-do-container" >
                <ul v-if="toDoList.length !== 0">
                    <li v-for="(listItem, listIndex) in toDoList">
                        <span :class="isDone ? 'underlined' : ''" @click="isItDone(listIndex)">  {{ toDoList[listIndex].toDo }}
                        </span>
                        <span class="remove-task" @click="removeTask(listIndex)">
                            &#10060;
                        </span>
                    </li>
                </ul>
                <p v-else>attendo cose da fare</p>
            </div>
        </div>



    </div>


    <script src="js/script.js"></script>
</body>
</html>